@import "libs/anim.scss";

.fade-in__delay {
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

$img: '../img/event';

*, *:before, *:after {
  box-sizing: border-box;
}

.container{
  width: auto;
  max-width: 1165px;
}

.header{
  padding: 0;
  padding-top: 65px;
  background: url('#{$img}/header.png') 97% 32px no-repeat;
  background-size: 432px;
  margin-bottom: 40px;
  opacity: 0;
  &__logo{
    font-family: 'Didot-Bold';
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__slogan{
    font-size: 64px;
    line-height: 1.13;
    letter-spacing: -1.1px;
    color: #575761;
    margin-bottom: 45px;
    &-3d{
      font-family: Avenir-Book,sans-serif;
    }
    &-more{
      font-family: Avenir-Black,sans-serif;
    }
  }
}

.towns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Avenir-Book,sans-serif;

  &__item{
    width: 30%;
    background-color: #fff;
    box-shadow: 60px 24px 454px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
    min-height: 68px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    padding: 0 24px;
  }

  &__icon{
    display: flex;
    align-items: center;
  }

  &__text{
    margin-left: 24px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -.3px;
  }

  &__icon-img{
    width: 100%;
    height: auto;
  }

  &__item_ny &__icon{
    width: 26px;
  }

  &__item_dc &__icon{
    width: 39px;
  }

  &__item_boston &__icon{
    width: 52px;
  }
}

.houses{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Avenir-Book,sans-serif;

  &__item{
    width: 48%;
    margin-bottom: 56px;
    border-radius: 8px;
    box-shadow: 44px 31px 64px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-color: #fff;
    overflow: hidden;
    height: 360px;
    text-decoration: none;
    opacity: 0;
  }

  &__loading{
    text-align: center;
    width: 100%;
    margin: 40px 0;
  }

  &__inner{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    height: 100%;
    position: relative;
    padding: 24px 30px;
    background: radial-gradient(circle at 50% 53%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.36)),
                linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.17));
  }

  &__virtual{
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 0;
    line-height: 3.71;
    font-weight: 900;
    font-size: 14px;
    padding: 4px 22px;
    text-transform: uppercase;
    border-radius: 0 0 0 8px;
    box-shadow: -26px 57px 66px 0 rgba(0, 0, 0, 0.2);
    background-color: #fbf8f5;
    color: #000;
  }

  &__title{
    font-size: 24px;
    font-family: Avenir-Roman,sans-serif;
    letter-spacing: -.4px;
    margin-bottom: 5px;
  }

  &__town{
    margin-bottom: 12px;
    &-inner{
      display: inline-block;
      vertical-align: middle;
      background-color: #575761;
      border-radius: 4px;
      padding: 3px 7px;
      line-height: 1.57;
      letter-spacing: -0.2px;
      color: #fff;
      font-family: Avenir-Roman,sans-serif;
      font-size: 14px;
    }
  }

  &__text{
    display: block;
    font-size: 14px;
    //font-family: Avenir-Roman,sans-serif;
    letter-spacing: -.2px;
    line-height: 1.57em;
  }

  &__price{
    margin-top: 12px;
    letter-spacing: -.3px;
    font-weight: 500;
    font-family: Avenir-Book,sans-serif;
  }
}