@import "libs/owl/owl.carousel.scss";
@import "libs/slick.scss";
@import "libs/anim.scss";

$img: '/img/landing';

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

@mixin sm {
  @include r(768) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.landing{
  overflow: hidden;
}

.container{
  @include sm {
    padding: 0 16px;
  }
}

.section{
  &_membership{
    position: relative;
    overflow: hidden;
    .container{
      z-index: 2;
      position: relative;
    }
  }
  &_membership &__scene{
    position: absolute;
    left: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    top: -10%;
    bottom: -10%;
    display: flex;
    z-index: 1;
  }
  &_membership &__scene-item{
    background: url('#{$img}/membership.jpg') 50% 50% / cover;
    display: flex;
    width: 100%;
    height: 100%;
  }
  &_included{
    background: url('#{$img}/included.png') 100% 0 no-repeat #fbf8f5;
    background-size: 170px;
  }
  &_off{
    background-color: #fbf8f5;
    margin-top: 120px;
    position: relative;
    .container{
      position: relative;
    }
  }
  &_off &__scene{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    height: 100%;
  }
  &_map{
    background-color: #575761;
    color: #fff;
  }
  &_weekends{
    background: url('#{$img}/weekend.jpg') 50% 50% #fbf8f5 / cover;
    position: relative;
    z-index: 2;
  }
  &_select{
    background-color: #fbf8f5;
    padding-top: 170px;
  }
  &_become{
    position: relative;
    z-index: 1;
    &:before{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 50%;
      bottom: 0;
      top: 0;
      background-color: #575761;
      z-index: 1;
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      background: url('#{$img}/become.jpg') 0 50% #fbf8f5 / cover;
      z-index: 1;
    }
  }
  &_room{
    padding-top: 170px;
    padding-bottom: 50px;
    background-color: #fbf8f5;
  }
  @include sm {
    &_off{
      margin-top: 43px;
    }
    &_become{
      background-color: #575761;
      &:before{
        display: none;
      }
      &:after{
        position: relative;
        left: 0;
        display: block;
        width: 100%;
        height: 240px;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
    &_included{
      background: none;
    }
    &_room{
      padding-top: 120px;
    }
    &_weekends{
      position: relative;
      &:after{
        content: '';
        display: block;
        background-color: #fbf8f5;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 133px;
        z-index: 1;
      }
    }
  }
}

.membership{
  padding-top: 248px;
  padding-bottom: 218px;
  color: #fff;
  &__logo{
    width: 724px;
    height: 172px;
    margin: 32px auto;
    display: block;
  }
  &__slogan{
    padding: 0 230px;
    font-size: 18px;
    text-align: center;
    line-height: 1.66;
    opacity: 0;
  }
  &__scroll{
    width: 22px;
    height: 65px;
    background: url('#{$img}/scroll.png');
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -11px;
  }
  @include sm {
    padding-top: 166px;
    &__logo{
      width: 100%;
      max-width: 328px;
      height: auto;
    }
    &__slogan{
      padding: 0;
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

.about{
  padding-top: 124px;
  padding-bottom: 155px;
  display: flex;
  align-items: center;
  &__man{
    width: 573px;
    height: 415px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    opacity: 0;
  }
  &__content{
    padding-left: 75px;
    opacity: 0;
  }
  &__title{
    margin-bottom: 16px;
    &-text{
      font-size: 28px;
      line-height: 1.14;
      font-weight: bold;
      font-family: 'Didot-Bold';
      display: inline-block;
      vertical-align: middle;
    }
    &-beta{
      text-indent: -9999px;
      width: 87px;
      height: 30px;
      background: url('#{$img}/beta_badge.png') 50% 50%;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 1.85;
  }
  @include sm {
    flex-wrap: wrap;
    padding: 84px 0;
    &__man{
      display: block;
      width: 100%;
      max-width: 328px;
      height: auto;
      margin: 0 auto;
    }
    &__content{
      padding: 0;
      width: 100%;
      margin-top: 38px;
    }
    &__title{
      margin-bottom: 14px;
      &-text{
        font-size: 22px;
      }
      &-beta{
        width: 70px;
        height: 24px;
        background-size: cover;
      }
    }
    &__text{
      font-size: 14px;
      line-height: 1.85;
    }
  }
}

.included{
  padding: 72px 0;
  padding-bottom: 38px;
  position: relative;
  opacity: 0;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &__title{
    font-size: 64px;
    line-height: 1.06;
    margin-bottom: 64px;
    letter-spacing: -1px;
    strong{
      display: block;
    }
  }
  &__table{
    display: flex;
  }
  &__benefits,
  &__nomembers,
  &__member{
    width: 33.3333%;
  }
  &__note{
    font-size: 14px;
    line-height: 1.85;
    opacity: .4;
    margin-top: 36px;
  }
  @include sm {
    padding: 0;
    &__title{
      font-size: 44px;
      margin-bottom: 48px;
    }
    &__table{
      flex-wrap: wrap;
    }
    &__benefits,
    &__nomembers,
    &__member{
      width: 100%;
    }
  }
}

.benefits{
  background-color: #575761;
  border-radius: 0 16px 16px 0;
  box-shadow: 33px 31px 32px 0 rgba(0, 0, 0, 0.09);
  color: #fff;
  position: relative;
  &:before{
    content: '';
    display: block;
    background-color: #575761;
    position: absolute;
    left: -9999px;
    right: 100%;
    top: 0;
    bottom: 0;
  }
  &__item{
    height: 84px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.625;
    padding-right: 10px;
    &-descr{
      font-size: 12px;
      opacity: .6;
      line-height: 1.17;
    }
    &_title{
      font-size: 26px;
      line-height: 1.23;
      font-weight: 500;
      height: 141px;
    }
  }
  @include sm {
    display: none;
  }
}

.nonmember-col,
.member-col{
  &__item{
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-top: 1px solid #edebea;
    &_title{
      font-size: 26px;
      line-height: 1.23;
      font-weight: 500;
      border-top: none;
      height: 141px;
    }
  }
  @include sm {
    box-shadow: 33px 31px 74px 0 rgba(0, 0, 0, 0.06), -12px -18px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    &__item{
      height: auto;
      text-align: left;
      flex-wrap: wrap;
      border: none;
      margin-top: 28px;
      padding: 0 10px;
      &:before{
        content: attr(data-rel);
        font-size: 12px;
        line-height: 1.17;
        opacity: .6;
        display: block;
        width: 100%;
        margin-bottom: 8px;
      }
      &_title{
        height: auto;
        padding: 26px 0;
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        &:before{
          display: none;
        }
      }
    }
    &__item_title + &__item{
      margin-top: 0;
    }
    &__text{
      display: block;
      width: 100%;
    }
  }
}
.nonmember-col{
  @include sm {
    margin-bottom: 42px;
  }
}
.member-col{
  background-color: #faf8fb;
  &__item{
    &_title{
      background: url('#{$img}/member_bg.png') 50% 100%;
      background-size: cover;
      border-radius: 8px 8px 0 0;
    }
  }
  &__item_title + &__item{
    border-top-color: transparent;
  }
  @include sm {
    &__item{
      &_title{
        margin-bottom: 20px;
      }
    }
  }
}

.experience{
  padding-top: 64px;
  opacity: 0;
  &__title{
    font-family: 'Didot-Bold';
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }
  &__subtitle{
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    margin-bottom: 56px;
    padding: 0 222px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
  }
  @include sm {
    &__title{
      font-size: 22px;
      line-height: 1.45;
      text-align: left;
    }
    &__subtitle{
      padding: 0;
      font-size: 14px;
      line-height: 1.85;
      text-align: left;
      margin-bottom: 32px;
    }
    &__list{
      margin: 0;
    }
  }
}

.room-el{
  display: flex;
  justify-content: space-between;
  &__inner{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.48) 97%);
    padding: 16px 15px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__item{
    background-size: cover;
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 29px 22px 35px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: .4s all;
    &_selected{
      opacity: 1;
      &:before{
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 0px;
        top: 22px;
        border-radius: 50%;
        background-color: #fff;
        background: url('#{$img}/room_check.png') 50% 100%;
        box-shadow: 2px 14px 16px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }
  &_opacity &__item{
    opacity: .4;
  }
  &_opacity &__item_selected{
    opacity: 1;
  }
  &__address{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &-ava{
      width: 24px;
      height: 24px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 9px;
    }
    &-img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &-text{
      text-decoration: underline;
      font-size: 12px;
      color: #fff;
    }
  }
  &__title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  &__price{
    font-size: 14px;
  }
  @include sm {
    flex-direction: column;

    &__item{
      width: 100%;
      margin-bottom: 32px;
    }
  }
}

.box{
  &_square{
    padding: 0;
    width: 320px;
    height: auto;
    min-height: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 6px;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 48px;
  }
  &_square &__img{
    position: relative;
    width: 60%;
    height: auto;
    display: block;
  }
  &_square &__cost{
    text-align: right;
    margin-top: 36px;
    border-radius: 100px 0 0 100px;
    background-color: #f8f8ff;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: baseline;
    font-size: 14px;
    padding: 6px 16px;
  }
  &_square &__cost-value{
    font-size: 20px;
    line-height: 1.6;
    text-align: right;
    margin-left: auto;
  }
  &_square &__title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
    margin-bottom: 32px;
    font-weight: normal;
    font-family: Avenir-Roman,sans-serif;
  }
  &_addons{
    width: 208px;
    margin: 0;
    margin-bottom: 30px;
    cursor: pointer;
  }
  &_addons &__img{
    width: 44%;
  }
  &_addons &__title{
    font-size: 18px;
    padding: 0 16px;
    text-align: left;
    margin-bottom: 28px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.4;
    &:after{
      content: '';
      flex-grow: 0;
      flex-shrink: 0;
      display: block;
      width: 38px;
      height: 38px;
      background: url('#{$img}/addons_plus.png') 50% 50% / cover;
    }
  }
  @include sm {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    &__title{

    }
    &_square &__img{
      width: 46%;
    }
  }
}

.monthly-price{
  padding: 39px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__img{
    width: 351px;
    height: 402px;
    flex-grow: 0;
    flex-shrink: 0;
    opacity: 0;
  }
  &__content{
    width: 46%;
    opacity: 0;
  }
  &__title{
    font-family: 'Didot-Bold';
    font-size: 32px;
    margin-bottom: 24px;
  }
  &__text{
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 32px;
  }
  &__button{
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 10px 36px;
    box-shadow: 1px 2px 18px 0 rgba(0, 0, 0, 0.13);
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
  }
  @include sm {
    flex-wrap: wrap;
    padding-top: 64px;
    &__content{
      width: 100%;
      padding-bottom: 135px;
    }
    &__img{
      width: 100%;
    }
    &__title{
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 12px;
      text-align: left;
    }
    &__text{
      text-align: left;
      font-size: 14px;
      line-height: 1.85;
      margin-bottom: 28px;
    }
    &__button{

    }
    &__img{
      height: 275px;
      width: auto;
      margin: 0 auto;
      background-size: cover;
    }
  }
}

.boxes{
  width: 100%;
  height: 100%;
  &__box{
    width: 140px;
    height: 131px;
    background: url('#{$img}/box.png') 50% 50%;
    position: absolute;

    &_1{
      bottom: -57px;
      left: 48%;
    }

    &_2{
      top: -72px;
      left: 39%;
      transform: scale(0.75) rotate(-100deg);
    }

    &_3{
      left: 11%;
      bottom: 20px;
      transform: scale(0.45) rotate(-65deg);
    }
  }
  &__element{
    display: flex;
    height: 100%;
    width: 100%;
  }
  @include sm {
    &__box{
      &_1{
        transform: scale(0.75);
        left: auto;
        right: -50px;
        bottom: -70px;
      }
      &_2{
        left: auto;
        top: 33%;
        right: -25px;
        transform: scale(0.5) rotate(-100deg);
      }
      &_3{
        left: 10px;
        top: 47%;
        transform: scale(0.35) rotate(-65deg);
      }
    }
  }
}

.map-block{
  padding-top: 106px;
  .container{
    width: 1210px;
  }
  &__continents{
    text-align: center;
    margin-bottom: 59px;
    display: none;
    &-inner{
      display: inline-block;
      vertical-align: middle;
      background-color: #64646e;
      border-radius: 28px;
      overflow: hidden;
    }
  }
  &__continent{
    font-size: 16px;
    line-height: 1.63;
    color: #fff;
    padding: 13px 44px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    &_active{
      background-color: #fff;
      color: #565660;
      border-radius: 28px;
    }
  }
  &__towns{
    display: flex;
    justify-content: space-between;
    position: relative;
    opacity: 0;
  }
  &__town{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 13px 14px;
    //width: 19%;
    box-shadow: 14px 24px 64px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;

    &-flag{
      &-wrap{
        width: 40px;
        height: 40px;
        background-color: #f1f1ff;
        border-radius: 50%;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_opened{
          background-color: #f5d54f;
        }
      }
      &-date{
        font-size: 14px;
        opacity: .4;
      }
    }
  }
  &__img{
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
    &-wrap{
      position: relative;
      padding-bottom: 150px;
      &_worldwide{
        width: 1440px;
        margin: 0 auto;
        margin-top: 50px;
        height: 893px;
      }
    }
  }
  &__relative{
    position: relative;
  }
  &__pins{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &__pin{
    width: 64px;
    height: 64px;
    background: url('#{$img}/map-pin.png');
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 8px;
    line-height: 1.39;
    letter-spacing: -0.3px;
    justify-content: center;
    color: #000;
    padding: 10px;
    text-align: center;
    &_active{
      background-image: url('#{$img}/map-pin_active.png');
      font-weight: bold;
      color: #fff;
      line-height: 1.2;
    }
    &_seattle{
      left: 215px;
      top: 242px;
    }
    &_sanfrancisco{
      left: 242px;
      top: 312px;
    }
    &_chicago{
      left: 331px;
      top: 239px;
    }
    &_boston{
      left: 400px;
      top: 250px;
      font-size: 10px;
    }
    &_newyork{
      left: 383px;
      top: 293px;
      font-size: 10px;
    }
    &_washington{
      left: 342px;
      top: 316px;
      font-size: 10px;
    }
    &_london{
      left: 638px;
      top: 190px;
    }
    &_oslo{
      left: 707px;
      top: 149px;
    }
    &_paris{
      left: 684px;
      top: 232px;
    }
    &_hongkong{
      left: 1141px;
      top: 220px;
      font-size: 10px;
    }
    &_dubai{
      left: 853px;
      top: 340px;
    }
    &_singapore{
      left: 1085px;
      top: 445px;
      font-size: 7.1px;
    }
    &_sydney{
      left: 1217px;
      top: 593px;
      font-size: 7.1px;
    }
    &_auckland{
      left: 1291px;
      top: 640px;
      font-size: 7.1px;
    }
    &:hover .tip{
      opacity: 1;
    }
  }

  &__wrapper{
    opacity: 0;
  }

  &__legend{
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .owl-carousel .owl-nav.disabled{
    display: block;
  }
  .owl-carousel .owl-nav{
    .owl-prev,
    .owl-next{
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: 5;
      background: linear-gradient(90deg, rgba(87,87,97,1) 20%, rgba(87,87,97,0) 100%);
      width: 240px;
      display: flex;
      align-items: center;

      span{
        display: block;
        width: 36px;
        height: 36px;
        background: url('#{$img}/arrow.png') 50% 50%;
        margin-left: 30px;
        text-indent: -9999px;
      }

    }
    .owl-next{
      right: -10px;
      left: auto;
      transform: rotate(180deg);
    }
  }
  @include sm {
    background: url('#{$img}/map_bg.png') 100% 45px no-repeat;
    padding-top: 196px;
    .container{
      width: auto;
    }
    &__continents{
      display: none;
    }
    &__img-wrap{
      padding-bottom: 0;
    }
    &__towns{
      margin-right: -16px;
      width: auto;
    }
    &__img{
      display: none;
    }
    &__shadow{
      display: none;
    }
    &__legend{
      position: relative;
    }
    .owl-carousel .owl-nav{
      display: none;
    }
    &__relative{
      display: none;
    }
    &__img{
      &-wrap{
        &_worldwide{
          height: auto;
          width: auto;
        }
      }
    }
  }
}

.tip{
  display: flex;
  opacity: 0;
  transition: .4s all;
  width: 229px;
  height: 64px;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 14px 24px 64px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 11px;
  color: #000;
  font-weight: normal;
  z-index: 99;
  &__img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fcf0e4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__content{
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
  }
  &__date{
    font-size: 14px;
    opacity: .4;
  }
}

.legend{
  padding-bottom: 80px;
  .container{
    display: flex;
    align-items: flex-end;
  }

  &__content{
    width: 48%;
    position: relative;
  }
  &__header{
    letter-spacing: -1.2px;
  }
  &__title{
    font-size: 72px;
    line-height: 1;
    font-family: Avenir-Book,sans-serif;
    position: relative;
    z-index: 2;
  }
  &__subtitle{
    font-size: 72px;
    line-height: 1;
    font-family: Avenir-Black,sans-serif;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
  }
  &__text{
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: -0.2px;
    margin-bottom: 32px;
    position: relative;
    z-index: 2;
  }
  &__button{
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
  }

  &__marks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    padding-bottom: 110px;
    pointer-events: none;
  }

  &__mark{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16px;
    &:before{
      content: '';
      width: 51px;
      height: 51px;
      display: block;
      background: url('#{$img}/future_mark.png') 50% 50%;
      margin-right: 12px;
    }
    &_active:before{
      background-image: url('#{$img}/current_mark.png');
    }
  }
  @include sm {
    padding-bottom: 56px;
    .container{
      display: block;
    }
    &__title{
      font-size: 44px;
      line-height: 1.09;
      margin-top: 41px;
    }
    &__subtitle{
      font-size: 44px;
      line-height: 1.09;
      margin-bottom: 16px;
    }
    &__text{

    }
    &__content{
      width: 100%;
    }
    &__marks{
      width: 100%;
      display: none;
    }
  }
}

.members{
  padding: 100px 0;
  padding-bottom: 0;
  overflow-x: hidden;
  position: relative;
  opacity: 0;
  &__title{
    font-family: 'Didot-Bold';
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  &__subtitle{
    font-size: 14px;
    margin-bottom: 40px;
    padding-right: 440px;
    line-height: 1.86;
  }
  &__list{
    display: flex;
    //margin-left: -40px;
    .slick-list{
      padding-right: 20%;
    }
    .slick-arrow{
      display: none !important;
    }
  }
  &__item{
    width: 550px;
    margin-bottom: 120px;
  }
  &__control{
    position: absolute;
    right: 0;
    top: 100px;
    box-shadow: 41px 62px 90px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 99;
  }
  &__count{
    padding: 5px 24px;
    font-size: 18px;
  }
  &__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf8f5;
    padding: 31px 21px;
    cursor: pointer;
    &:before{
      content: '';
      display: block;
      width: 11px;
      height: 20px;
      background-image: url('#{$img}/members_arrow.png');
    }
    &_next{
      transform: rotate(180deg);
      background-color: #fbf8f5;
    }
  }
  &__carousel{
    display: flex;
    &-wrap{
      flex-grow: 1;
      flex-shrink: 1;
      width: calc(100vw - (100vw - 1160px) / 2);
    }
    &-spacer{
      width: calc((100vw - 1160px) / 2);
      flex-grow: 0;
      flex-shrink: 0;
    }

  }
  @include sm {
    position: relative;
    &__title{
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 12px;
    }
    &__list{
      .slick-list{
        padding-left: 16px;
      }
    }
    &__subtitle{
      padding: 0;
    }
    &__control{
      position: absolute;
      bottom: 100px;
      right: 0;
      top: auto;
    }
    &__list{

    }
    &__item{
      margin-bottom: 220px;
      width: 312px;
    }
  }
}

.member{
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 26px 32px;
  box-shadow: 0px 62px 90px 0 rgba(0, 0, 0, 0.03);
  z-index: 2;
  margin-right: 20px;
  position: relative;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-color: #fff;
  &__logo{
    margin-right: auto;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  &__date{
    font-size: 12px;
    line-height: 2.67;
    letter-spacing: -0.1px;
    opacity: .8;
  }
  &__title{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 1.45;
    margin-bottom: 10px;
    height: 62px;
    overflow: hidden;
  }
  &__text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.1px;
    height: 69px;
    overflow: hidden;
  }
  @include sm {
    background-size: 162px;
    margin: 0;
    margin-right: 16px;
    &__logo{
      width: 77px;
    }
    &__title{
      font-size: 18px;
      line-height: 1.55;
      margin-bottom: 17px;
      height: auto;
    }
    &__text{
      height: auto;
    }
  }
}

.weekend{
  padding-top: 89px;
  height: 568px;
  &__logo{
    background-image: url('#{$img}/hamptons.png');
    width: 250px;
    height: 299px;
    margin: 0 auto;
    opacity: 0;
  }
  &__content{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 20px 40px 80px 0 rgba(0, 0, 0, 0.08);
    padding: 30px 51px;
    max-width: 825px;
    margin: 0 auto;
    margin-top: 87px;
    text-align: center;
    margin-bottom: -90px;
    position: relative;
    opacity: 0;
  }
  &__title{
    font-size: 28px;
    line-height: 1.14;
    font-family: 'Didot-Bold';
    margin-bottom: 16px;
  }
  &__text{
    font-size: 14px;
    line-height: 1.86;
  }
  @include sm {
    padding: 0 12px;
    padding-top: 65px;
    height: auto;
    position: relative;
    z-index: 2;
    &__logo{
      width: 180px;
      height: 216px;
      background-size: cover;
    }
    &__content{
      margin-top: 65px;
      padding: 16px 8px;
    }
    &__title{
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 12px;
    }
  }
}
.calculator{
  opacity: 0;
  &__title{
    font-size: 72px;
    line-height: 0.9;
    margin-bottom: 56px;
    letter-spacing: -1.1px;
    strong{
      display: block;
    }
  }
  &__rooms{
    margin-bottom: 129px;
  }
  &__spacer{
    width: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    &:before{
      content: '';
      width: 11px;
      height: 11px;
      background-color: #575761;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -6px;
    }
    &:after{
      content: '12+ Months';
      position: absolute;
      top: -33px;
      right: 0;
      font-size: 14px;
      color: #575761;
      white-space: nowrap;
    }
  }
  &__slider-wrapper{
    display: none;
    align-items: center;
    margin-bottom: 110px;
    &_active{
      display: flex;
    }
    .noUi-target{
      border-radius: 0;
      border: none;
      box-shadow: none;
      background-color: #575761;
      height: 1px;
    }
    .noUi-handle{
      background: url('#{$img}/slider.png') transparent;
      box-shadow: none;
      width: 35px;
      height: 35px;
      top: -17px;
      border: 3px solid #fbf8f5;
      border-radius: 50%;
      &:before,
      &:after{
        display: none;
      }
    }
    .noUi-tooltip{
      bottom: auto;
      top: 140%;
      border: none;
      padding: 3px 15px;
      border-radius: 15px;
      font-size: 14px;
      color: #575761;
      box-shadow: 10px 18px 33px 0 rgba(0, 0, 0, 0.08);
      &:before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: -8px;
      }
    }
  }
  &__input{
    display: none;
  }
  &__slider-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: -0.2px;
    color: #575761;
    padding-right: 70px;
  }
  &__slider{
    flex-grow: 1;
    flex-shrink: 1;
  }
  &__addons{
    display: none;
    &_active{
      display: block;
    }
  }
  @include sm {
    &__title{
      font-size: 44px;
      line-height: 1.09;
      margin-bottom: 35px;
    }
    &__rooms{
      margin-bottom: 0;
    }
    &__slider-wrapper{
      flex-direction: column;
      margin-bottom: 80px;
      margin-top: 20px;
    }
    &__slider-label{
      padding: 0;
      margin-bottom: 24px;
      position: relative;
      &:before{
        content: '';
        width: 11px;
        height: 11px;
        background-color: #575761;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: -24px;
        margin-left: -5px;
      }
      &:after{
        content: '1 Month';
        display: block;
        font-size: 14px;
        color: #575761;
        white-space: nowrap;
        text-align: center;
        margin-top: 24px;
      }
    }
    &__slider{
      width: 100%;
      height: 373px;
      .noUi-target{
        height: 373px;
        width: 1px;
        margin: 0 auto;
      }
      .noUi-handle{
        top: -17px;
        left: -17px;
        background: url('#{$img}/slider_mobile.png') transparent;
      }
      .noUi-tooltip{
        right: 100%;
        margin-right: 15px;
        top: 15px;
        padding: 6px 23px;
        &:before{
          display: none;
        }
      }
    }
    &__spacer{
      width: 100%;
      text-align: center;
      &:before{
        top: 0;
        left: 50%;
        margin-left: -5px;
      }
      &:after{
        position: relative;
        top: 30px;
      }
    }
    &__total{

    }
  }
}
.total{
  overflow: hidden;
  width: 816px;
  margin: 0 auto;
  display: none;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 18px 58px 0 rgba(0, 0, 0, 0.08);
  padding-right: 32px;
  margin-bottom: 79px;
  &__inner{
    align-items: center;
    display: flex;
  }
  &_active{
  }
  &__savings,
  &__nonmembers,
  &__members{
    width: 25%;
    align-items: center;
    padding: 24px 10px;
    &-label{
      font-size: 12px;
      line-height: 2.13;
      letter-spacing: -0.2px;
      opacity: .6;
    }
    &-value{
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
  &__savings{
    width: 33%;
    padding-left: 60px;
    background: url('#{$img}/total.png') 100% 50%;
    &-label{
      margin-bottom: -3px;
      letter-spacing: -0.2px;
    }
    &-value{
      font-size: 40px;
      font-weight: 900;
      letter-spacing: 0;
    }
  }
  &__nonmembers{
    padding-left: 40px;
  }
  &__join{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 12px 28px;
    margin-left: auto;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
  }
  @include sm {
    width: 100%;
    padding-right: 0;
    &__inner{
      flex-wrap: wrap;
      align-items: center;
      display: flex;
    }
    &__savings{
      width: 100%;
      text-align: center;
      padding: 20px;
      padding-bottom: 80px;
      background: url('#{$img}/savings.png') 100% 50% / cover;
      height: 220px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-label{
        font-size: 16px;
        letter-spacing: -0.2px;
      }
      &-value{
        font-size: 48px;
      }
    }
    &__nonmembers{
      width: 50%;
      padding-left: 31px;
    }
    &__members{
      width: 50%;
      padding-right: 31px;
      padding-left: 30px;
    }
    &__nonmembers,
    &__members{
      padding-bottom: 50px;
      &-label{
        font-size: 14px;
        line-height: 1.83;
      }
      &-value{
        font-size: 36px;
      }
    }
    &__join{
      border-radius: 8px 0 0 0;
    }
  }
}
.addons{
  &__label{
    font-size: 18px;
    margin-bottom: 24px;
  }
  &__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    &-wrapper{
      display: flex;
      //&:before{
      //  content: '';
      //  display: block;
      //  width: calc((100vw - 1160px) / 2);
      //  flex-grow: 0;
      //  flex-shrink: 0;
      //}
    }
  }
  &__item{
    cursor: pointer;
    display: block;
    margin-left: 10px;
  }
  &__input{
    display: none;
  }
  &__input:checked + .box{
    background-color: #dbdbff;
  }
  &__input:checked + .box .box__img {
    mix-blend-mode: luminosity;
  }
  &__input:checked + .box_square .box__cost{
    background: none;
  }
  &__input:checked + .box_addons .box__title:after{
    background: url('#{$img}/addons_minus.png') 50% 50%;
  }
  @include sm {
    &__list{
      margin-left: 0;
      flex-wrap: nowrap;
      overflow-y: scroll;
    }
    &__item{
      flex-grow: 0;
      flex-shrink: 0;
      width: 248px;
      margin-right: 32px;
    }
  }
}
.become{
  z-index: 2;
  position: relative;
  color: #fff;
  width: 50%;
  padding: 110px 0;
  padding-right: 96px;
  opacity: 0;
  &__title{
    font-family: 'Didot-Bold';
    font-size: 32px;
    margin-bottom: 16px;
  }
  &__text{
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 27px;
  }
  &__pay{
    display: flex;
    &-item{
      font-size: 14px;
      margin-right: 100px;
      &-price{
        font-size: 28px;
      }
      &-descr{
        line-height: 2.17;
        font-size: 12px;
      }
    }
  }
  &__join{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 35px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-top: 32px;
  }
  @include sm {
    width: 100%;
    padding-right: 0;
    padding-bottom: 48px;
    padding-top: 32px;
    &__title{
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 12px;
    }
    &__text{
      font-size: 14px;
      line-height: 1.85;
    }
  }
}
.homes{
  opacity: 0;
  &__beta{
    text-indent: -9999px;
    width: 87px;
    height: 30px;
    background: url('#{$img}/beta_badge.png') 50% 50%;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  &__title{
    font-family: 'Didot-Bold';
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 35px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__item{
    width: 31%;
  }
  &__descr{
    border-radius: 4px;
    color: #a5a2a1;
    background: url('#{$img}/info.png') 0 0 no-repeat #fbf8f5;
    font-size: 12px;
    line-height: 2.67;
    padding: 6px;
    padding-left: 45px;
  }
  @include sm {
    &__title{
      text-align: center;
      font-size: 22px;
      line-height: 1.45;
      margin-bottom: 16px;
    }
    &__list{
      flex-wrap: wrap;
    }
    &__item{
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
.home{
  text-decoration: none;
  padding: 28px 20px;
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 440px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  &:before{
    content: '';
    height: 348px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67));
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .7;
  }
  &__type{
    background-color: #fff;
    padding: 10px 23px;
    border-radius: 21px;
    color: #000;
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 14px;
    &-icon{
      width: 20px;
      height: 23px;
      background: url('#{$img}/apartament.png') 50% 50% / cover;
      margin-right: 14px;
      &_room{
        width: 25px;
        height: 19px;
        background: url('#{$img}/room.png') 50% 50% / cover;
      }
    }
  }
  &__header{
    position: relative;
    z-index: 2;
  }
  &__title{
    font-size: 25px;
    margin-bottom: 4px;
  }
  &__subtitle{
    font-size: 14px;
  }
  @include sm {
    height: 400px;
  }
}