include partials/_var.pug

- var img = 'img/event/'

doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="css/app.css", rel="stylesheet")
        link(href="css/jquery.fancybox.min.css", rel="stylesheet")
        link(href="css/event.css", rel="stylesheet")
        script(type="text/javascript", src="static/front/lib/jquery.min.js")
        script(defer, type="text/javascript", src="static/front/lib/jquery.fancybox.min.js")
        script(defer, type="text/javascript", src="static/front/lib/jquery.clamp.min.js")
        script(defer, type="text/javascript", src="static/front/lib/ScrollMagic.min.js")
    body
        .container
            header.header
                .header__logo June Homes
                .header__slogan
                    .header__slogan-3d 3D tours
                    .header__slogan-more More than 300 options
                .header__towns.towns
                    .towns__item.towns__item_ny
                        .towns__icon
                            img.towns__icon-img(src=img + "ny.png")
                        .towns__text New York City
                    .towns__item.towns__item_dc
                        .towns__icon
                            img.towns__icon-img(src=img + "dc.png")
                        .towns__text Washington DC
                    .towns__item.towns__item_boston
                        .towns__icon
                            img.towns__icon-img(src=img + "boston.png")
                        .towns__text Boston
            section.content
                .houses
                    span.houses__loading loading&hellip;
        script(type="text/javascript", src="static/front/js/event.js")