include partials/_var.pug

doctype html
html
    head
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="/css/app.css", rel="stylesheet")
        link(href="/css/nouislider.min.css", rel="stylesheet")
        link(href="/css/landing.css", rel="stylesheet")
        script(async, type="text/javascript", src="/static/front/lib/imagesLazyLoad.js")
        script(defer, type="text/javascript", src="/static/front/lib/jquery.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/swiper.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/zebra_datepicker.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/form_validator.js")
        script(defer, type="text/javascript", src="/static/front/lib/slick.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/intlTelInputJquery.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/parallax.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/owl.carousel.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/slick.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/ScrollMagic.min.js")
        script(defer, type="text/javascript", src="/static/front/lib/wNumb.js")
        script(defer, type="text/javascript", src="/static/front/lib/nouislider.min.js")
        script(defer, type="text/javascript", src="/static/front/js/landing.js")
    body
        .landing
            .section.section_membership
                .section__scene(data-friction-x="0.1", data-friction-y="0.1", data-scalar-x="25", data-scalar-y="15")
                    .layer.section__scene-item(data-depth="0.1")
                .container
                    .membership
                        img.membership__logo(src=img + "membership_logo.png")
                        .membership__slogan We designed June Membership to weave into your life. Your home is where you spend most of your time and we want to make those the best hours of your life. We've rethought moving & housing industries to focus on You.
                        a.membership__scroll(href="#")
            .section.section_about
                .container
                    .about
                        img.about__man(src=img + "about.png")
                        .about__content
                            .about__title
                                .about__title-text  About June Membership
                                .about__title-beta beta
                            .about__text Become a June Member and save hundreds of dollars every month on all June housing options in our rapidly growing housing network.. Special benefits include customizing your June experience, access to perks & discounts, and a $0 security deposit.*
            .section.section_included
                .container
                    .included
                        .included__title
                            span What's
                            strong included?
                        .included__table
                            .included__benefits.benefits
                                .benefits__item.benefits__item_title
                                    .benefits-col__text June Benefits
                                .benefits__item
                                    .benefits-col__textCompetitive Competitive rates
                                .benefits__item
                                    .benefits-col__textSecurity Security deposit
                                .benefits__item
                                    .benefits-col__text
                                        | Guest overnights
                                        .benefits__item-descr Shared homes only, entire apartments unlimited
                                .benefits__item
                                    .benefits-col__text
                                        | Personalize your experience
                                        .benefits__item-descr Amazing add-ons such as a Casper mattress
                                .benefits__item
                                    .benefits-col__text Free transfer within June Network
                                .benefits__item
                                    .benefits-col__text
                                        | Hand-picked discounts
                                        .benefits__item-descr Dozens of partners such as Equinox and MakeSpace
                                .benefits__item
                                    .benefits-col__text Free nights in Luxury<br> summerhouse in the Hamptons
                                .benefits__item
                            .included__nomembers.nonmember-col
                                .nonmember-col__item.nonmember-col__item_title
                                    .nonmember-col__text Non-members
                                .nonmember-col__item(data-rel="Competitive rates")
                                    .nonmember-col__text  Standard competitive June rates
                                .nonmember-col__item(data-rel="Security deposit")
                                    .nonmember-col__text 1 month*
                                .nonmember-col__item(data-rel="Guest overnights")
                                    .nonmember-col__text 8 nights/month
                                .nonmember-col__item(data-rel="Personalize your experience")
                                    .nonmember-col__text Not available
                                .nonmember-col__item(data-rel="Free transfer within June Network")
                                    .nonmember-col__text 1 times/year
                                .nonmember-col__item(data-rel="Hand-picked discounts ")
                                    .nonmember-col__text Not available
                                .nonmember-col__item(data-rel="Free nights in Luxury summerhouse in the Hamptons")
                                    .nonmember-col__text 0
                                .nonmember-col__item
                            .included__member.member-col
                                .member-col__item.member-col__item_title
                                    .member-col__text Members
                                .member-col__item(data-rel="Competitive rates")
                                    .member-col__text
                                        strong $300 off
                                        span  per month off any agreement*
                                .member-col__item(data-rel="Security deposit")
                                    .member-col__text No deposit
                                .member-col__item(data-rel="Guest overnights")
                                    .member-col__text 12 nights/month
                                .member-col__item(data-rel="Personalize your experience")
                                    .member-col__text Available in the June Store
                                .member-col__item(data-rel="Free transfer within June Network")
                                    .member-col__text 12 times/year
                                .member-col__item(data-rel="Hand-picked discounts ")
                                    .member-col__text Available
                                .member-col__item(data-rel="Free nights in Luxury summerhouse in the Hamptons")
                                    .member-col__text 3 per summer
                                .member-col__item
                        .included__note * $0 security deposit only for qualified June Members (subject to income verification, credit score, and background check). Membership discount $300 for month to month agreement.
            .section.section_experience
                .container
                    .experience
                        .experience__title Personalize your June experience
                        .experience__subtitle When choosing a room with June, you'll have the ability to customize your living experience from the start. Our website & app includes the ability to easily add or remove different features anytime you would like.
                        .experience__list
                            .experience__list
                                .box.box_square
                                    img.box__img(src=img + "experience_console.png")
                                    .box__cost
                                        .box__cost-value $21
                                        .box__cost-period  /month
                                    .box__title Xbox/PlayStation/Switch
                                .box.box_square
                                    img.box__img(src=img + "experience_tv.png")
                                    .box__cost
                                        .box__cost-value $15
                                        .box__cost-period  /month
                                    .box__title 40'' Plasma TV
                                .box.box_square
                                    img.box__img(src=img + "experience_speaker.png")
                                    .box__cost
                                        .box__cost-value $15
                                        .box__cost-period  /month
                                    .box__title Sonos Play:1 Speaker
                                .box.box_square
                                    img.box__img(src=img + "experience_bed.png")
                                    .box__cost
                                        .box__cost-value $38
                                        .box__cost-period  /month
                                    .box__title Casper Mattress
                                .box.box_square
                                    img.box__img(src=img + "experience_purifier.png")
                                    .box__cost
                                        .box__cost-value $60
                                        .box__cost-period  /month
                                    .box__title Molekule MH1 Air Purifier
            .section.section_off
                .section__scene(data-friction-x="0.1", data-friction-y="0.1", data-scalar-x="25", data-scalar-y="15")
                    //.boxes
                    .boxes__element.boxes__element_1.layer(data-depth="0.1")
                        .boxes__box.boxes__box_1
                    .boxes__element.boxes__element_2.layer(data-depth="0.2")
                        .boxes__box.boxes__box_2
                    .boxes__element.boxes__element_3.layer(data-depth="0.4")
                        .boxes__box.boxes__box_3
                .container
                    .monthly-price
                        .monthly-price__content
                            .monthly-price__title $300 off your monthly price
                            .monthly-price__text June rent is already incredibly competitive with our prime locations, fully furnished apartments, and month to month agreement options. On top of that you will receive $300 off per month, making this a deal that is nearly impossible to pass up.
                            a.monthly-price__button(href="https://junehomes.com/#contact-membership") Join now
                        img.monthly-price__img(src=img + "off.png")
            .section.section_map
                .map-block
                    .container
                        .map-block__continents
                            .map-block__continents-inner
                                a.map-block__continent.map-block__continent_active(href="#") Worldwide
                                a.map-block__continent(href="#") America
                                a.map-block__continent(href="#") Europe
                                a.map-block__continent(href="#") Middle East
                                a.map-block__continent(href="#") Asia Pacific
                    .container
                        .map-block__towns.owl-carousel.owl-theme
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_uk.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title London
                                    .map-block__town-flag-date O3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title San Francisco
                                    .map-block__town-flag-date Q3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title San Jose
                                    .map-block__town-flag-date Q3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_china.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Hong Kong
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_singapore.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Singapore
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Los Angeles
                                    .map-block__town-flag-date Q4, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_australia.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Sydney
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_UAE.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Dubai
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Seattle
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_singapore.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Singapore
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title San Diego
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_irland.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Dublin
                                    .map-block__town-flag-date Q4, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_niderlands.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Amsterdam
                                    .map-block__town-flag-date Q4, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Chicago
                                    .map-block__town-flag-date Q4, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_canada.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Vancouver
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Portland
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_israel.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Tel Aviv
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_denmark.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Copenhagen
                                    .map-block__town-flag-date Q3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_france.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Paris
                                    .map-block__town-flag-date Q3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_norway.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Oslo
                                    .map-block__town-flag-date Q3, 2019
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_australia.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Auckland
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap
                                    img.map-block__town-flag(src=img + "flag_sweden.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Stockholm
                                    .map-block__town-flag-date 2020
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap.map-block__town-flag-wrap_opened
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title New York
                                    .map-block__town-flag-date Opened
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap.map-block__town-flag-wrap_opened
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Washington, D.C.
                                    .map-block__town-flag-date Opened
                            a.map-block__town(href="#")
                                .map-block__town-flag-wrap.map-block__town-flag-wrap_opened
                                    img.map-block__town-flag(src=img + "flag_us.png")
                                .map-block__town-flag-content
                                    .map-block__town-flag-title Boston, MA
                                    .map-block__town-flag-date Opened
                    .map-block__wrapper
                        .map-block__img-wrap.map-block__img-wrap_worldwide
                            .map-block__relative
                                img.map-block__img(src=img + "wordwide.png")
                                .map-block__pins
                                    .map-block__pin.map-block__pin_seattle
                                        .map-block__title Seattle
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title Seattle
                                                    .tip__date 2020
                                    .map-block__pin.map-block__pin_sanfrancisco
                                        .map-block__title San Francisco
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title San Francisco
                                                    .tip__date Q3, 2019
                                    .map-block__pin.map-block__pin_chicago
                                        .map-block__title Chicago
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title Chicago
                                                    .tip__date Q4, 2019
                                    .map-block__pin.map-block__pin_active.map-block__pin_boston
                                        .map-block__title BOS
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title Boston, MA
                                                    .tip__date Opened
                                    .map-block__pin.map-block__pin_active.map-block__pin_newyork
                                        .map-block__title NYC
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title New York
                                                    .tip__date Opened
                                    .map-block__pin.map-block__pin_active.map-block__pin_washington
                                        .map-block__title DC
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_us.png")
                                                .tip__content
                                                    .tip__title Washington, D.C.
                                                    .tip__date Opened
                                    .map-block__pin.map-block__pin_london
                                        .map-block__title London
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_uk.png")
                                                .tip__content
                                                    .tip__title London
                                                    .tip__date Q3, 2019
                                    .map-block__pin.map-block__pin_oslo
                                        .map-block__title Oslo
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_norway.png")
                                                .tip__content
                                                    .tip__title Oslo
                                                    .tip__date Q3, 2019
                                    .map-block__pin.map-block__pin_paris
                                        .map-block__title Paris
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_france.png")
                                                .tip__content
                                                    .tip__title Paris
                                                    .tip__date Q3, 2019
                                    .map-block__pin.map-block__pin_hongkong
                                        .map-block__title Hong Kong
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_china.png")
                                                .tip__content
                                                    .tip__title Hong Kong
                                                    .tip__date 2020
                                    .map-block__pin.map-block__pin_dubai
                                        .map-block__title Dubai
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_UAE.png")
                                                .tip__content
                                                    .tip__title Dubai
                                                    .tip__date 2020
                                    .map-block__pin.map-block__pin_singapore
                                        .map-block__title Singapore
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_singapore.png")
                                                .tip__content
                                                    .tip__title Singapore
                                                    .tip__date 2020
                                    .map-block__pin.map-block__pin_sydney
                                        .map-block__title Sydney
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_australia.png")
                                                .tip__content
                                                    .tip__title Sydney
                                                    .tip__date 2020
                                    .map-block__pin.map-block__pin_auckland
                                        .map-block__title Auckland
                                        .map-block__tip
                                            .tip
                                                .tip__img
                                                    img.tip__flag(src=img + "flag_australia.png")
                                                .tip__content
                                                    .tip__title Auckland
                                                    .tip__date 2020
                            .map-block__legend.legend
                                .container
                                    .legend__content
                                        .legend__header
                                            .legend__title One World
                                            .legend__subtitle One Lease
                                        .legend__text We love the idea of not being tied down. If you want to live in 3 different neighborhoods in one year, you should be able to. If you want to live in 3 different cities in one year, you should be able to! Our membership plan allows 3 moves per year within the June Network, so you're welcome to experience some great new locations.
                                        a.legend__button(href="https://junehomes.com/#contact-membership") Join waitlist
                                    .legend__marks
                                        .legend__mark.legend__mark_active Current locations
                                        .legend__mark Future locations
            .section.section_members
                .members
                    .container
                        .members__title Member only discounts
                        .members__subtitle Moving isn't just about getting into your new home, it's also about what to do once you're there. With that in mind, June has partnered with many great local restaurants and local entertainment to help you slide right into a new routine. Some of these great partners include:
                    .members__control
                        .members__count 1 / 6
                        a.members__arrow.members__arrow_prev(href="#")
                        a.members__arrow.members__arrow_next(href="#")
                    .members__carousel
                        .members__carousel-spacer
                        .members__carousel-wrap
                            .members__list
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_1.jpg);")
                                        img.member__logo(src=img + "members_1.png")
                                        .member__content
                                            .member__date NYC
                                            .member__title June Homes Members receive one Mini Buffalo Balls appetizer with purchase.
                                            .member__text Locations: LES - 84 Stanton St | West Village - 64 Greenwich Ave | Chelsea - 200 9th Ave | Hell's Kitchen - 798 9th Ave | UES - 1462 2nd Ave | Williamsburg - 170 Bedford Ave
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_2.jpg);")
                                        img.member__logo(src=img + "members_2.png")
                                        .member__content
                                            .member__date NYC
                                            .member__title Loco Coco prides itself on serving the best tasting, vegan superfood smoothie bowls.
                                            .member__text For the month of April, June Homes members receive a free health shot with the purchase of any bowl. Show this coupon at checkout to redeem.
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_3.jpg);")
                                        img.member__logo(src=img + "members_3.png")
                                        .member__content
                                            .member__date NYC&DC
                                            .member__title June Homes has partnered with MakeSpace to offer on-demand services to all our members.
                                            .member__text MakeSpace is a hassle-free storage service that comes to you and does the heavy lifting. Whether you're storing the contents of a hall closet, office supplies, or an entire home, you'll only pay for the space...
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_4.jpg);")
                                        img.member__logo(src=img + "members_4.png")
                                        .member__content
                                            .member__date NYC
                                            .member__title Juliette is a premium, invite-only and completely organic laundry & dry cleaning service.
                                            .member__text Text or email to get started!<br>**Discount applicable on minimum $50 order.
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_5.jpg);")
                                        img.member__logo(src=img + "members_5.png")
                                        .member__content
                                            .member__date NYC
                                            .member__title June Homes has partnered with ButcherBox to get you $20 off EVERY ORDER!
                                            .member__text ButcherBox delivers premium 100% grass-fed & finished beef, free-range organic chicken, heritage breed pork, and wild caught Alaskan salmon directly to your door on a monthly basis.
                                .members__item
                                    .member(style="background-image: url(" + img + "members_bg_6.jpg);")
                                        img.member__logo(src=img + "members_6.png")
                                        .member__content
                                            .member__date NYC&DC
                                            .member__title Peapod offers convenient online grocery shopping and carries fresh, healthy foods!
                                            .member__text June Homes has partnered up with Peapod to offer you unlimited free delivery, $25 off your first order of $99 or more, and $5 off every order of $60 or more after that.
            .section.section_weekends
                .weekend
                    .weekend__logo
                    .weekend__content
                        .weekend__title Free Weekends in the Hamptons
                        .weekend__text For a June Member exclusive experience, you will be allowed to visit our Hampton's Home 2 times per summer. This amazing 12 bedroom 8 bathroom is made for relaxing at a home-away-from-home. June Members will be allowed to bring 2 friends per visit too, so that there are memories to go around.
            .section.section_room
                form.calculator(action="#")
                    .container
                        .calculator__title
                            | Select room
                            strong  to see savings!
                        .calculator__rooms.room-el
                            .room-el__item(style="background-image: url(" + img + "room_1.jpg);", data-price="1750")
                                .room-el__inner
                                    .room-el__address
                                        .room-el__address-ava
                                            img.room-el__address-img(src=img+'room_1.jpg')
                                        a.room-el__address-text(href="https://junehomes.com/residences/south-harlem-two") South Harlem / Two
                                    .room-el__title Twin Size Private B
                                    .room-el__price From $1750/month
                            .room-el__item(style="background-image: url(" + img + "room_2.jpg);", data-price="3050")
                                .room-el__inner
                                    .room-el__address
                                        .room-el__address-ava
                                            img.room-el__address-img(src=img + 'room_2.jpg')
                                        a.room-el__address-text(href="https://junehomes.com/residences/upper-east-side-ten") Upper East Side / Ten
                                    .room-el__title Full Size Master A
                                    .room-el__price From $3050/month
                            .room-el__item(style="background-image: url(" + img + "room_3.jpg);", data-price="3100")
                                .room-el__inner
                                    .room-el__address
                                        .room-el__address-ava
                                            img.room-el__address-img(src=img + 'room_3.jpg')
                                        a.room-el__address-text(href="https://junehomes.com/residences/upper-east-side-thirteen") Upper East Side/Thirteen
                                    .room-el__title Master Bedroom A
                                    .room-el__price From $3100/month
                        .calculator__slider-wrapper
                            .calculator__slider-label Select duration:
                            .calculator__slider
                                .calculator__noui#price-slider
                                input.calculator__input(type="text", value="0")
                            .calculator__spacer
                        .calculator__total.total
                            .total__inner
                                .total__savings
                                    .total__savings-label
                                        span.total__savings-label-value 4
                                        span  months savings
                                    .total__savings-value $1200
                                .total__nonmembers
                                    .total__nonmembers-label Non-member price
                                    .total__nonmembers-value $2348
                                .total__members
                                    .total__members-label Member price
                                    .total__members-value $2048
                                a.total__join(href="https://junehomes.com/#contact-membership") Join now
                    .calculator__addons.addons
                        .addons__label
                            .container Add-ons:
                        .addons__list-wrapper
                            .container
                                .addons__list
                                    .addons__item
                                        input#addon_1.addons__input(type="checkbox", value="21")
                                        label.box.box_square.box_addons(for="addon_1")
                                            img.box__img(src=img + "experience_console.png")
                                            .box__cost
                                                .box__cost-value $21
                                                .box__cost-period  /month
                                            .box__title Game<br> console
                                    .addons__item
                                        input#addon_2.addons__input(type="checkbox", value="15")
                                        label.box.box_square.box_addons(for="addon_2")
                                            img.box__img(src=img + "experience_tv.png")
                                            .box__cost
                                                .box__cost-value $15
                                                .box__cost-period  /month
                                            .box__title 40''<br> Plasma TV
                                    .addons__item
                                        input#addon_3.addons__input(type="checkbox", value="15")
                                        label.box.box_square.box_addons(for="addon_3")
                                            img.box__img(src=img + "experience_speaker.png")
                                            .box__cost
                                                .box__cost-value $15
                                                .box__cost-period  /month
                                            .box__title Sonos Play:<br>1 Speaker
                                    .addons__item
                                        input#addon_4.addons__input(type="checkbox", value="38")
                                        label.box.box_square.box_addons(for="addon_4")
                                            img.box__img(src=img + "experience_bed.png")
                                            .box__cost
                                                .box__cost-value $38
                                                .box__cost-period  /month
                                            .box__title Casper<br> Mattress
                                    .addons__item
                                        input#addon_6.addons__input(type="checkbox", value="8")
                                        label.box.box_square.box_addons(for="addon_6")
                                            img.box__img(src=img + "experience_purifier.png")
                                            .box__cost
                                                .box__cost-value $8
                                                .box__cost-period  /month
                                            .box__title Molekule MH1<br> Air Purifier
            .section.section_become
                .container
                    .become
                        .become__title Become a member today!
                        .become__text We want as many people to experience our new way of living as possible, so we have put together an extremely reasonable membership plan. To lower the cost even more, we give a significant discount to pay for the whole year up front.
                        .become__pay
                            .become__pay-item
                                span.become__pay-item-price $99
                                span.become__pay-item-period /month
                                .become__pay-item-descr Billed Monthly
                            .become__pay-item
                                span.become__pay-item-price $83
                                span.become__pay-item-period /month
                                .become__pay-item-descr Billed Annually
                        a.become__join(href="https://junehomes.com/#contact-membership") Join now
            .section.section_homes
                .container
                    .homes
                        .homes__beta Beta
                        .homes__title Participating Homes
                        .homes__subtitle Currently we have 3 Homes in the beta and we will be rolling out more shortly. Stay tuned!
                        .homes__list
                            .homes__item
                                a.home(style="background-image: url(" + img + "home_3.jpg);", href="https://junehomes.com/residences/south-harlem-two")
                                    .home__type
                                        span.home__type-icon
                                        span.home__type-text Entire apartment
                                    .home__header
                                        .home__title South Harlem / Two
                                        .home__subtitle From $1350/month
                            .homes__item
                                a.home(style="background-image: url(" + img + "home_2.jpg);", href="https://junehomes.com/residences/upper-east-side-ten")
                                    .home__type
                                        span.home__type-icon.home__type-icon_room
                                        span.home__type-text Private rooms
                                    .home__header
                                        .home__title Upper East Side / Ten
                                        .home__subtitle From $2800/month
                            .homes__item
                                a.home(style="background-image: url(" + img + "home_1.jpg);", href="https://junehomes.com/residences/upper-east-side-thirteen")
                                    .home__type
                                        span.home__type-icon.home__type-icon_room
                                        span.home__type-text Private rooms
                                    .home__header
                                        .home__title Upper East Side/Thirteen
                                        .home__subtitle From $2850/month
                        .homes__descr This is beta: Lorem Ipsum is simply dummy text of the printing and typesetting industry.